{% extends "layout.html" %} {% block title %}Contact{% endblock %} {% block
content %}
<div class="container">
  <div class="row mt-5">
    <h2 class="text-center">Get in touch</h2>
    <div class="col-md-5">
      <form action="{{ url_for('send_email') }}" method="post">
        <div class="mb-3">
          <label for="nameInput" class="form-label">Your name</label>
          <input
            type="text"
            class="form-control"
            id="nameInput"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="messageInput" class="form-label">Your message</label>
          <textarea
            name="message"
            id="messageInput"
            class="form-control"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-7">
      <img
        src="{{ url_for('static', filename='tryck.jpg') }}"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %}
